<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lootbox.css')}}">
        {% block script %}
        <script src="{{url_for('static', filename='animations.js')}}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        {% endblock %}
        {% block head %}
        <title>{% block title %}Lootbox website{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <p>This is an empty block that can be filled in for free by others!</p>
        <p>Take your time, there's no rush!</p>
        <p>This is just a template. A placeholder, so to speak.</p>
        {% endblock %}
    </body>
</html>