{% extends "index.html" %}

{% block title %}Ooh, a box!{% endblock %}

{% block body %}
<div id="part1">
    <h1>Free Lootbox!</h1>
    <button onclick="unPack()">Click me to open!</button>
</div>
<div hidden id="part2">
    <h2>Opening lootbox...</h2>
    <p>Obviously, this needs an awesome animation, a better layout and a little more suspense. (And) sounds!</p>
    <p>For now, it simply takes 10 seconds for the rewards to pop up. Downloading the rewards yet needs to be done!</p>
</div>
<div hidden id="part3">
    <div id="middlebox">
            <a id="link_1" href="/unbox/{{ token }}">
                <div id="nextcard">
                    <div class="card">
                        <img src="/static/werewolf.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>Option 1: NOT FOUND</b></h4> 
                            <p>Click here to choose option 1!</p>
                            <p><b>COMMON</b></p> 
                        </div>
                    </div>
                </div>
            </a>
            <a id="link_2" href="/unbox/{{ token }}">
                <div id="nextcard">
                    <div class="card">
                        <img src="/static/werewolf.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>Option 2: NOT FOUND</b></h4> 
                            <p>Click here to choose option 2!</p> 
                            <p><b>RARE</b></p>
                        </div>
                    </div>
                </div>
            </a>
            <a id="link_3" href="/unbox/{{ token }}">
                <div id="nextcard">
                    <div class="card">
                        <img src="/static/werewolf.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>Option 3: NOT FOUND</b></h4> 
                            <p>Click here to choose option 3!</p> 
                            <p style="color:rgb(146, 146, 29);"><b>LEGENDARY</b></p>
                        </div>
                    </div>
                </div>
            </a>
    </div>
</div>
{% endblock %}