<!DOCTYPE html>
<html>
    <head>
        <style>
            body-background-color: hsl(0, 0%, 100%);
            html, 
            body {
            height: 100% !important;
            }
        </style>
        <style>
            .overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(240,240,240,1);
            z-index: 10;
            }
        </style>
        <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css' />
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <script src='js/open.js'></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.14/howler.min.js"></script>
        <script>
            var open_sound = new Howl({
              src: ['/static/audio/open_chest.mp3'],
              preload: true
            });
        </script>
        <script>
            window.claiming = false
            function shake(interval, distance, times) {
                    var div = document.getElementById('lootbox-splash');
                    //var interval = 100;
                    //var distance = 10;
                    //var times = 60;
            
                    $(div).css('position', 'relative');
            
                    for (var iter = 0; iter < (times + 1) ; iter++) {
                        $(div).animate({
                            left: ((iter % 2 == 0 ? distance : distance * -1))
                        }, interval);
                    }                                                                                                          
                    $(div).animate({ left: 0 }, interval);
                }
            
            function shake2() {
                    var div = document.getElementById('lootbox-splash');
                    var interval = 50;
                    var distance = 15;
                    var times = 40;
            
                    $(div).css('position', 'relative');
            
                    for (var iter = 0; iter < (times + 1) ; iter++) {
                        $(div).animate({
                            left: ((iter % 2 == 0 ? distance : distance * -1))
                        }, interval);
                    }                                                                                                          
                    $(div).animate({ left: 0 }, interval);
                }
            
            $( document ).ready(function() {
              $('.rewards').hide()
              $('.overlay').hide()
            });

            function updateLootBoxes(token) {
                if (window.claiming == false) {
                    window.claiming = true;
                    $(document).ready(function() {
                        $.getJSON("/api/v1/" + token + "/rewards",function(results) {
                            document.getElementById("link_1").href = ("/unbox/" + token + "/" + results.option1.code);
                            document.getElementById("link_2").href = ("/unbox/" + token + "/" + results.option2.code);
                            document.getElementById("link_3").href = ("/unbox/" + token + "/" + results.option3.code);
                            document.getElementById("desc_1").innerHTML = results.option1.description;
                            document.getElementById("desc_2").innerHTML = results.option2.description;
                            document.getElementById("desc_3").innerHTML = results.option3.description;
                            showTitle("title_1",results.option1);
                            showTitle("title_2",results.option2);
                            showTitle("title_3",results.option3);
                        });
                        return;
                    })
                    
                    fancyAnimation();
                    return;
                }

                alert("ERROR: This lootbox has already been opened!")
            }

            function showTitle(element,option) {
                if (option.code > 4000000-1) {
                    document.getElementById(element).style.color = "#808000";
                    document.getElementById(element).innerHTML = "[LEGENDARY] " + option.name;
                    return;
                }
                if (option.code > 3000000-1) {
                    document.getElementById(element).style.color = "#ff00ff";
                    document.getElementById(element).innerHTML = "[EPIC]" + option.name;
                    return;
                }
                if (option.code > 2000000-1) {
                    document.getElementById(element).style.color = "#0080ff";
                    document.getElementById(element).innerHTML = "[RARE] " + option.name;
                    return;
                }
                document.getElementById(element).innerHTML = "[COMMON] " + option.name;
            }
            
            function fancyAnimation() {
                console.log(items)
                open_sound.play();
            	shake(125, 10, 15);
            	setTimeout(function(){ shake(100, 12, 18); }, 1800)
            	setTimeout(function(){ shake(75, 12, 26.66667); }, 3800)
            	setTimeout(function(){ shake(50, 12, 40); }, 5500)
                setTimeout(function(){ $(".overlay").fadeIn(1750); }, 6300)
                setTimeout(function(){ $(".overlay").hide(); }, 8250)
                $("#open-button").hide()
                setTimeout(function(){ updateLbFrame(); }, 8050);
                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                 setTimeout(function(){ $(".message-body").text("Scroll down to see other reward choices!"); }, 8050)
                }
            }

            function updateLbFrame() {
                $('.rewards').show()
                $('#lootbox-splash').hide()
            }

        </script>
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <body bgcolor='black' height="100%">
        <div class='overlay'>&nbsp;</div>
        <div id="fadeOut" bgcolor='white'></div>
        <center>
            <article class="message is-dark">
                <div class="message-body">
                    <strong>Thanks for being active today.</strong> Here's a reward for your participation. 
                </div>
            </article>
            <div id='lootbox-splash'>
                <img onclick="updateLootBoxes('{{ token }}')" src='/static/chest1.png' />
                <br />
                <button onclick="updateLootBoxes('{{ token }}')" id="open-button" class="button" type="submit" value="Open loot crate">Open loot crate</button>
        </center>
        </div>
        <center>
            <div class="rewards">
                <div class="container">
                    <div class='columns'>
                        <div class='column is-4'>
                            <div class="card card1">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Reward image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p id="title_1" class="title rt-1">Loading...</p>
                                    <p id="desc_1" class="subtitle rd-1">Loading...</p>
                                    <a id="link_1" href="/unbox/{{ token }}/">
                                    <button class="button is-primary">Claim this reward</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class='column is-4'>
                            <div class="card card2">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Reward image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p id="title_2" class="title rt-2">Loading...</p>
                                    <p id="desc_2" class="subtitle rd-2">Loading...</p>
                                    <a id="link_2" href="/unbox/{{ token }}/">
                                    <button class="button is-primary card2-buttn">Claim this reward</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class='column is-4'>
                            <div class="card card3">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Reward image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p id="title_3" class="title rt-3">Loading...</p>
                                    <p id="desc_3" class="subtitle rd-3">Loading...</p>
                                    <a id="link_3" href="/unbox/{{ token }}/">
                                    <button class="button is-primary card3-buttn">Claim this reward</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </center>
    </body>
</html>