<!doctype html>
<html>
    <head>
        <title>Unpacking animation...</title>
    </head>

    <body>
        <h2>Opening lootbox...</h2>
        <p>Obviously, this needs an awesome animation, a better layout and a little more suspense.
            Ideally, the user is brought back to [blahblahblah.com]/unbox/[token]</token>
        </p>
        <p>For now, here's a button that'll bring you back.</p>
        <form action="/unbox/{{ token }}">
            <input type="submit" value="Return" />
        </form>
    </body>
</html>